<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlz.app.homePageData.dao.HomePageDataDao">
    <sql id="TABLE_COLUMN">
        T.job,
        T.merchant_address merchantAddress,

        T.pay_money payMoney,
        T.start_time startTime,
        T.end_time   endTime,
        T.deadline_time deadLineTime,

        T.business_licens businessLicens,
        T.merchant_name merchantName,
        T.merchant_id merchantId
    </sql>
    
    <select id="selectHomePageDateList"   resultType="com.hlz.app.homePageData.model.HomePageDataDto">
        SELECT
        <include refid="TABLE_COLUMN"/>
        FROM merchant_info T
        <!--ORDER BY t.insert_date -->

    </select>

</mapper>