<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlz.app.demo.dao.UrlDao" >
    <sql id="BASE_TABLE">
    t_url
    </sql>

    <sql id="BASE_COLUMN">
    url
    </sql>

    <select id="selectUrl" resultType="com.hlz.app.demo.model.UrlInfo">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
    </select>

</mapper>